{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
          <!-- col-sm-12  col-lg-8 -->
            <div class="col-sm-5" align="center">
              <!-- markdown equivalent (without bootstrap): ![](/images/example.jpg) -->
              <!-- the class and alt are utilizing Bootstrap -->
              <!-- /images/web-tree-street-bushwick-eco-initiatives.png" -->
              <img src="/images/wide-street-large-text.png" class="img-fluid" alt="Responsive image">
              <p>
                A community organization in Bushwick, Brooklyn that works on projects to
                reduce greenhouse gases.
                </p>
            </div>
            <form action="POST" data-netlify="true">
              <h4> Send us a message <br />if you'd like to get involved!</h4>
              <div class="fields">
                <div class="field">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field">
                  <input type="email" name="email" id="email" placeholder="Email" />
                </div>
                <div class="field">
                  <input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" placeholder="Phone"/>
                  <br />
                  <small>Phone format: 347-124-2421</small>
                </div>
                <div class="field">
                  <textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
                </div>
              </div>
              <ul class="actions">
                <input type="submit" value="Send Message" class="button primary" />
              </ul>
            </form>
        </div>
    </div>
</div>

{{ partial "footer" . }}
{{ end }}
